@import "./variables/colors";
@import "./variables/fonts";

#home {
  display: grid;

  .banner {
    height: 100dvh;
    width: 100%;
    object-fit: cover;

    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .intro {
    padding: 20px 50px;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px) brightness(40%);

    justify-self: center;
    align-self: center;
    grid-column: 1/-1;
    grid-row: 1/-1;

    h2 {
      letter-spacing: 2px;
      font: {
        size: 3vw;
        family: $main-font;
      }
      text-transform: uppercase;
    }

    p {
      margin: 3vw 0;
      font: {
        size: 1.8vw;
        family: $main-font;
      }
    }

    a {
      button {
        padding: 1vw 3vw;
        color: white;
        background-color: $main-color;
        font: {
          size: 1.5vw;
          family: $main-font;
        }
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
        transition: letter-spacing 0.4s;

        &:hover {
          background-color: $main-color-hover;
        }
      }
    }
  }

  @keyframes arrow-jump {
    0% {
      padding-bottom: 50px;
    }
    50% {
      padding-bottom: 80px;
    }
    100% {
      padding-bottom: 50px;
    }
  }

  .arrow-down {
    padding-bottom: 50px;
    color: white;
    font-size: 2.5rem;
    transition: color 0.3s;
    animation: arrow-jump 1s ease-in-out infinite;

    justify-self: center;
    align-self: end;
    grid-column: 1/-1;
    grid-row: 1/-1;

    &:hover {
      color: black;
    }
  }

  .linkedin {
    margin: 50px;
    padding: 8px 8px 0 8px;
    color: white;
    background-color: #0467c4;
    font-size: 2rem;
    border-radius: 5px;
    transition: color 0.3s;

    justify-self: end;
    align-self: end;
    grid-column: 1/-1;
    grid-row: 1/-1;

    &:hover {
      color: black;
    }
  }
}

@media screen and (max-width: 800px) {
  #home {
    .intro {
      padding: 20px 10px;

      h2 {
        font-size: 1.8rem;
      }

      p {
        margin: 20px;
        font-size: 1.3rem;
      }

      a {
        button {
          padding: 10px 20px;
          font-size: 1.3rem;
        }
      }
    }

    @keyframes arrow-jump {
      0% {
        padding-bottom: 25px;
      }
      50% {
        padding-bottom: 55px;
      }
      100% {
        padding-bottom: 25px;
      }
    }

    .arrow-down {
      padding-bottom: 25px;
      font-size: 2.2rem;
    }

    .linkedin {
      margin: 25px;
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 390px) {
  #home {
    .intro {
      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }

      a {
        button {
          padding: 10px 20px;
          font-size: 1rem;
        }
      }
    }

    @keyframes arrow-jump {
      0% {
        padding-bottom: 10px;
      }
      50% {
        padding-bottom: 40px;
      }
      100% {
        padding-bottom: 10px;
      }
    }

    .arrow-down {
      padding-bottom: 10px;
      font-size: 1.9rem;
    }

    .linkedin {
      margin: 25px;
      font-size: 1.4rem;
    }
  }
}
