@import "./variables/colors";

@keyframes pulse {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

.loader-pulse {
  /* Core Element (The static center dot) */
  width: 10px; // Making the center dot smaller
  height: 10px;
  margin-right: 3px;
  border-radius: 50%;
  background-color: white;

  /* Necessary to position the pseudo-element relative to this center */
  position: relative;
  bottom: 6px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    /* Make the pulse the same size/color initially */
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;

    /* Apply the animation! */
    animation: pulse 1.5s ease-out infinite;
  }
}
