@import "./variables/colors";

@keyframes pulse {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

.loader-pulse {
  /* Core Element (The static center dot) */
  height: 10px;
  width: 10px; // Making the center dot smaller
  margin-right: 3px;
  background-color: white;
  border-radius: 50%;

  /* Necessary to position the pseudo-element relative to this center */
  position: relative;

  &::after {
    content: "";
    /* Make the pulse the same size/color initially */
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50%;
    animation: pulse 1.5s ease-out infinite;

    position: absolute;
    top: 0;
    left: 0;
  }
}
