@import "./variables/fonts";
@import "./variables/colors";

#projects {
  padding: 100px 200px;
  font-family: $main-font;

  h3 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .divider {
    height: 6px;
    width: 35px;
    margin: 20px auto;
    background-color: $main-color;
    border-radius: 100px;
  }

  p {
    padding-bottom: 100px;
    font-size: 1.5rem;
    text-align: center;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;

    .project {
      min-width: 300px;
      box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      .project-img {
        height: 170px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        position: relative; /* Required for the overlay to stay inside the box */
        overflow: hidden; /* Keeps the overlay corners rounded with the box */

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          /* This teal color matches your buttons in the mockup */
          background-color: $main-color;
          opacity: 40%;
          /* Ensures the overlay sits on top of the image but below any text if you add it later */
          z-index: 1;
          pointer-events: none; /* Allows you to still click through to the image/link */
        }

        img {
          height: 100%;
          border-radius: 10px 10px 0 0;
        }
      }

      .project-info {
        height: fit-content;
        padding: 15px;

        h4 {
          font-size: 1.35rem;
          margin-bottom: 5px;
        }

        p {
          padding-bottom: 10px;
          font-size: 0.9rem;
          margin-bottom: 10px;
          text-align: left;
        }

        .project-link {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          width: 100%;
          background-color: $main-color;
          border: none;
          border-radius: 5px;
          padding: 12px;
          cursor: pointer;
          transition: background-color 0.4s;
          color: white;
          text-decoration: none;
          box-sizing: border-box;

          &:hover {
            background-color: $main-color-hover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #projects {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 800px) {
  #projects {
    padding: 50px 10px;

    h3 {
      font-size: 2rem;
    }

    .divider {
      height: 6px;
      width: 35px;
      margin: 10px auto;
      background-color: $main-color;
      border-radius: 100px;
    }

    p {
      padding-bottom: 50px;
      font-size: 1rem;
    }
  }
}
